<%- include('header') -%>
<div class="container pt-5">
	<h2>
		Sörgyár <% if(typeof sorgyar === 'undefined') { %> hozzáadása <% }else{
		%> szerkesztése <% } %>
	</h2>
</div>
<div class="conatiner pt-5 pl-5">
	<form method="POST">
		<div class="form-group row">
			<label for="inputNev" class="col-sm-2 col-form-label">Név</label>
			<div class="col-sm-5">
				<input
					class="form-control"
					type="text"
					name="nev"
					id="inputNev"
					required
					value="<%= (typeof sorgyar === 'undefined') ? '' : sorgyar.nev %>"
				/>
			</div>
		</div>
		<div class="form-group row">
			<label for="inputTelephely" class="col-sm-2 col-form-label"
				>Telephely</label
			>
			<div class="col-sm-5">
				<input
					required
					class="form-control"
					id="inputTelephely"
					type="text"
					name="telephely"
					value="<%= (typeof sorgyar === 'undefined') ? '' : sorgyar.telephely %>"
				/>
			</div>
		</div>
		<div class="form-group row">
			<label for="inputBevetel" class="col-sm-2 col-form-label"
				>Éves bevétel</label
			>
			<div class="col-sm-5">
				<input
					required
					class="form-control"
					id="inputBevetel"
					type="number"
					name="bevetel"
					value="<%= (typeof sorgyar === 'undefined') ? '' : sorgyar.bevetel %>"
				/>
			</div>
		</div>
		<div class="container pt-5">
			<input
				href="/sorok"
				type="submit"
				class="btn btn-primary"
				value="Mentés"
			/>
		</div>
	</form>
</div>
<%- include('footer') -%>
