<%- include('header') -%>
<div class="container pt-5">
  <h2>Sör <% if(typeof sor === 'undefined') {
      %>
    hozzáadása
    <% }else{ %>
    szerkesztése
    <% } %>
  </h2>
</div>
<div class="conatiner pt-5 pl-5">
  <form>
    <div class="form-group row">
      <label for="inputNev" type="text" class="col-sm-2 col-form-label">Név</label>
      <div class="col-sm-5">
        <input class="form-control" id="inputNev" value="<%= (typeof sor === 'undefined') ? '' : sor.nev =%>" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputFajta" type="text" class="col-sm-2 col-form-label">Fajta</label>
      <div class="col-sm-5">
        <input class="form-control" id="inputFajta" value="<%= (typeof sor === 'undefined') ? '' : sor.fajta =%>" />
      </div>
    </div>
    <div class="form-group row">
      <label for="gyartoSelect" class="col-sm-2 col-form-label">Gyártó</label>
      <div class="col-sm-5">
        <select class="form-control" id="gyartoSelect">
          <option>Borsodi sörgyár</option>
          <option>Heineken Magyarország</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputAlkohol" type="number" class="col-sm-2 col-form-label">Alkoholtartalom</label>
      <div class="col-sm-5">
        <input class="form-control" id="inputAlkohol" value="<%= (typeof sor === 'undefined') ? '' : sor.alkohol =%>" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputTerfogat" type="text" class="col-sm-2 col-form-label">Térfogat</label>
      <div class="col-sm-5">
        <input class="form-control" id="inputTerfogat"
          value="<%= (typeof sor === 'undefined') ? '' : sor.terfogat =%>" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputOsszetevok" type="text" class="col-sm-2 col-form-label">Összetevők</label>
      <div class="col-sm-5">
        <input class="form-control" id="inputOsszetevok" placeholder="Összetevők" />
      </div>
    </div>
  </form>
</div>
<div class="container pt-5">
  <a href="/sorok" type="button" class="btn btn-primary">
    Mentés
  </a>
</div>
<%- include('footer') -%>